body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* THEMES */
.dark {
  background: #0f172a;
  color: white;
  min-height: 100vh;
}

.light {
  background: #f1f5f9;
  color: black;
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

/* CARD */
.movie-card {
  border-radius: 16px;
  padding: 20px;
  background: rgba(255,255,255,0.05);
  border: 1px solid rgba(255,255,255,0.1);
  transition: 0.3s;
}

.movie-card:hover {
  transform: scale(1.03);
}

/* BUTTON */
.btn-book {
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(135deg, #6366f1, #8b5cf6);
  border: none;
  padding: 10px;
  color: white;
}

/* SEARCH */
.search-box {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* BOOKING */
.booking-card {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  background: rgba(255,255,255,0.05);
  display: flex;
  justify-content: space-between;
}

/* SEATS */
.seat {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 8px;
}

.available { background: #e2e8f0; color:black; }
.selected { background: #22c55e; }
.booked { background: #ef4444; }